Repository NUbots/NUbots, pull requests merged in 2021-10, with the labels that each got.

#717 Changes the leg IK functions to templates
  module/motion/QuinticWalk/src/QuinticWalk.cpp
  shared/utility/motion/InverseKinematics.cpp
  shared/utility/motion/InverseKinematics.hpp
Labels: G-Motion, L-C++

#698 Clang-tidy - some automated fixes
  module/behaviour/Controller/src/Controller.cpp
  module/behaviour/skills/HeadBehaviourSoccer/src/HeadBehaviourSoccer.cpp
  module/behaviour/skills/HeadBehaviourSoccer/src/Searcher.hpp
  module/behaviour/strategy/PS3Walk/src/PS3Walk.cpp
  module/behaviour/strategy/SoccerStrategy/src/SoccerStrategy.cpp
  module/behaviour/strategy/SoccerStrategy/src/SoccerStrategy.hpp
  module/behaviour/tools/ScriptRunner/src/ScriptRunner.cpp
  module/behaviour/tools/ScriptTuner/src/ScriptTuner.cpp
  module/extension/Director/src/Director.cpp
  module/extension/Director/src/provider/Provider.hpp
  module/input/Camera/src/Camera.cpp
  module/input/Camera/src/description_to_fourcc.hpp
  module/input/Camera/src/time_sync.cpp
  module/input/FakeCamera/src/FakeCamera.cpp
  module/input/GameController/src/GameController.cpp
  module/input/NatNet/src/NatNet.cpp
  module/input/NatNet/src/Parse.hpp
  module/input/SensorFilter/src/SensorFilter.cpp
  module/localisation/BallLocalisation/src/BallLocalisation.cpp
  module/localisation/RobotParticleLocalisation/src/RobotParticleLocalisation.cpp
  module/motion/HeadController/src/HeadController.cpp
  module/motion/KinematicsConfiguration/src/KinematicsConfiguration.cpp
  module/motion/QuinticWalk/src/WalkEngine.cpp
  module/output/Overview/src/Overview.cpp
  module/platform/Gazebo/src/Gazebo.cpp
  module/platform/Gazebo/src/Gazebo.hpp
  module/platform/Webots/src/Webots.cpp
  module/platform/Webots/src/Webots.hpp
  module/platform/darwin/HardwareIO/src/HardwareIO.cpp
  module/platform/darwin/HardwareIO/src/darwin/Darwin.cpp
  module/platform/darwin/HardwareIO/src/darwin/UART.cpp
  module/platform/darwin/HardwareSimulator/src/HardwareSimulator.cpp
  module/support/logging/DataPlayback/src/DataPlayback.hpp
  module/tools/FirmwareInstaller/src/FirmwareInstaller.cpp
  module/tools/FirmwareInstaller/src/FirmwareInstaller.hpp
  module/vision/VisualMesh/src/VisualMesh.cpp
  module/vision/VisualMesh/src/visualmesh/VisualMeshRunner.cpp
  module/vision/VisualMesh/src/visualmesh/VisualMeshRunner.hpp
  module/vision/VisualMesh/src/visualmesh/load_model.hpp
  nuclear/message/include/message/conversion/proto_matrix.hpp
  shared/extension/Behaviour.hpp
  shared/extension/Script.hpp
  shared/extension/behaviour/commands.hpp
  shared/utility/behaviour/MotionCommand.hpp
  shared/utility/math/geometry/Quad.hpp
  shared/utility/motion/Balance.cpp
  shared/utility/motion/splines/SmoothSpline.hpp
  shared/utility/motion/splines/Spline.hpp
  shared/utility/motion/splines/SplineContainer.hpp
  shared/utility/support/yaml_expression.hpp
  shared/utility/vision/Vision.hpp
  shared/utility/vision/projection.hpp
  shared/utility/vision/visualmesh/VisualMesh.hpp
Labels: -Enhancement, G-DevOps-QA, L-C++

#733 Dockerhub Cleanup Fix
  .github/workflows/dockerhub-cleanup.yaml
  .github/workflows/nubots.yaml
  .github/workflows/scripts/remove_dockerhub_tag.sh
  .github/workflows/scripts/validate_clang_format.sh
  .github/workflows/scripts/validate_cmake_format.sh
  .github/workflows/scripts/validate_python_format.sh
Labels: !!-Bug, G-DevOps-QA, L-Shell-Script
