Repository NUbots/NUbots, pull requests merged in 2022-12, with the labels that each got.

#992 Add a Script extension that works with Director
  shared/extension/behaviour/Script.hpp
Labels: G-Behaviour, L-C++, -New-Feature

#994 Changes Script extension to take a sequence of scripts
  shared/extension/behaviour/Script.hpp
Labels: G-Motion, L-C++

#995 Add a Director-based KickScript module
  module/skill/KickScript/CMakeLists.txt
  module/skill/KickScript/README.md
  module/skill/KickScript/data/config/kickscript.yaml
  module/skill/KickScript/src/KickScript.cpp
  module/skill/KickScript/src/KickScript.hpp
  module/skill/KickScript/tests/KickScript.cpp
  roles/test/directormotion.role
  shared/message/skill/Kick.proto
Labels: G-Motion, G-Behaviour, L-C++, L-Protobuf

#999 Remove undefined behaviour in Protobuf to Neutron conversions
  CMakeLists.txt
  nuclear/.cmake-format.py
  nuclear/CMakeLists.txt
  nuclear/cmake/Modules/GenerateNeutron.cmake
  nuclear/cmake/Scripts/build_message_class.py
  nuclear/cmake/Scripts/build_message_reflection.py
  nuclear/cmake/Scripts/build_outer_python_binding.py
  nuclear/cmake/Scripts/generator/Enum.py
  nuclear/cmake/Scripts/generator/Field.py
  nuclear/cmake/Scripts/generator/File.py
  nuclear/cmake/Scripts/generator/Message.py
  nuclear/cmake/Scripts/generator/OneOfField.py
  nuclear/cmake/Scripts/generator/OneOfType.py
  nuclear/cmake/Scripts/generator/__init__.py
  nuclear/cmake/Scripts/generator/textutil.py
  nuclear/cmake/Scripts/repackage_message.py
  nuclear/message/Neutron.cmake
  nuclear/message/include/message/conversion/math_types.hpp
  nuclear/message/include/message/conversion/neutron_type_map.hpp
  nuclear/message/include/message/conversion/proto_conversion.hpp
  nuclear/message/include/message/conversion/proto_neutron_map.hpp
  nuclear/message/include/message/conversion/proto_neutron_sfinae.hpp
  nuclear/message/include/message/conversion/proto_time.hpp
  nuclear/tests/CMakeLists.txt
  nuclear/tests/message/CMakeLists.txt
  nuclear/tests/message/MessageTest.proto
  nuclear/tests/message/converter.cpp
  nuclear/tests/test.cpp
Labels: !!-Bug, !!-High-Priority, G-DevOps-QA, L-Python, L-C++, L-CMake, L-Protobuf, D-Harder
