Repository NUbots/NUbots, pull requests merged in 2022-08, with the labels that each got.

#919 Add codedocs link to readme.
  README.md
Labels: -Documentation

#920 Removed right camera from visual mesh
  module/vision/VisualMesh/data/config/nugus/VisualMesh.yaml
Labels: G-Vision

#893 Static Build
  CMakeLists.txt
  cmake/Modules/FindAravis.cmake
  cmake/Modules/Findffi.cmake
  cmake/Modules/Findglib2.cmake
  cmake/Modules/Findlibmount.cmake
  cmake/Modules/Findlibudev.cmake
  cmake/Modules/Findlibusb1.cmake
  cmake/Modules/Findlibxml2.cmake
  cmake/Modules/Findlzma.cmake
  cmake/Modules/Findzlib.cmake
  cmake/Modules/Findzstr.cmake
  nuclear/cmake/Modules/ToolchainLibraryFinder.cmake
Labels: -Dependencies, G-DevOps-QA, L-CMake

#299 Add a system configuration tool
  .vscode/extensions.json
  doc/ArchInstall/arch-chroot_install.sh
  module/tools/SystemConfiguration/CMakeLists.txt
  module/tools/SystemConfiguration/README.md
  module/tools/SystemConfiguration/data/config/SystemConfiguration.yaml
  module/tools/SystemConfiguration/data/system/default/etc/OpenCL/vendors/intel.icd
  module/tools/SystemConfiguration/data/system/default/etc/default/grub
  module/tools/SystemConfiguration/data/system/default/etc/ld.so.conf.d/usrlocal.conf
  module/tools/SystemConfiguration/data/system/default/etc/locale.conf
  module/tools/SystemConfiguration/data/system/default/etc/locale.gen
  module/tools/SystemConfiguration/data/system/default/etc/motd
  module/tools/SystemConfiguration/data/system/default/etc/pip.conf
  module/tools/SystemConfiguration/data/system/default/etc/sudoers.d/insults
  module/tools/SystemConfiguration/data/system/default/etc/sudoers.d/wheel
  module/tools/SystemConfiguration/data/system/default/etc/systemd/network/10-bond0.netdev
  module/tools/SystemConfiguration/data/system/default/etc/systemd/network/10-bond0.network
  module/tools/SystemConfiguration/data/system/default/etc/systemd/network/20-eno1.network
  module/tools/SystemConfiguration/data/system/default/etc/systemd/network/30-wlp58s0.network
  module/tools/SystemConfiguration/data/system/default/etc/systemd/network/99-eno1-static.network
  module/tools/SystemConfiguration/data/system/default/etc/systemd/network/99-wlp58s0-static.network
  module/tools/SystemConfiguration/data/system/default/etc/systemd/system/robocup.service
  module/tools/SystemConfiguration/data/system/default/etc/systemd/timesyncd.conf
  module/tools/SystemConfiguration/data/system/default/etc/udev/rules.d/10-nubots.rules
  module/tools/SystemConfiguration/data/system/default/etc/wpa_supplicant/wpa_supplicant-wlp58s0.conf
  module/tools/SystemConfiguration/data/system/nugus1/etc/systemd/network/10-bond0.network
  module/tools/SystemConfiguration/data/system/nugus1/etc/systemd/network/99-eno1-static.network
  module/tools/SystemConfiguration/data/system/nugus1/etc/systemd/network/99-wlp58s0-static.network
  module/tools/SystemConfiguration/data/system/nugus2/etc/systemd/network/10-bond0.network
  module/tools/SystemConfiguration/data/system/nugus2/etc/systemd/network/99-eno1-static.network
  module/tools/SystemConfiguration/data/system/nugus2/etc/systemd/network/99-wlp58s0-static.network
  module/tools/SystemConfiguration/data/system/nugus3/etc/systemd/network/10-bond0.network
  module/tools/SystemConfiguration/data/system/nugus3/etc/systemd/network/99-eno1-static.network
  module/tools/SystemConfiguration/data/system/nugus3/etc/systemd/network/99-wlp58s0-static.network
  module/tools/SystemConfiguration/data/system/nugus4/etc/systemd/network/10-bond0.network
  module/tools/SystemConfiguration/data/system/nugus4/etc/systemd/network/99-eno1-static.network
  module/tools/SystemConfiguration/data/system/nugus4/etc/systemd/network/99-wlp58s0-static.network
  module/tools/SystemConfiguration/src/SystemConfiguration.cpp
  module/tools/SystemConfiguration/src/SystemConfiguration.hpp
  module/tools/SystemConfiguration/src/glyphs.hpp
  module/tools/SystemConfiguration/tests/SystemConfiguration.cpp
  roles/system_configuration.role
  tools/install.py
Labels: G-DevOps-QA, L-C++, -New-Feature

#932 Add torque values to Zombie.yaml
  module/motion/ScriptEngine/data/scripts/nugus/Zombie.yaml
Labels: !!-Bug, G-Motion

#909 Update the versions used in the Dockerfile
  docker/Dockerfile
  docker/usr/local/bin/download-and-extract
  docker/usr/local/bin/install-from-source
  docker/usr/local/package/eigen3/cxx17-overalign.patch
  docker/usr/local/package/eigen3/deprecated-copy.patch
  docker/usr/local/package/intel-compute-runtime.sh
  docker/usr/local/package/intel-graphics-compiler.sh
  docker/usr/local/package/openblas/g4dnxlarge.sh
  docker/usr/local/package/openblas/generic.sh
  docker/usr/local/package/openblas/nuc7i7bnh.sh
  docker/usr/local/package/openblas/nuc8i7beh.sh
  docker/usr/local/package/opencl-clang.sh
  docker/usr/local/package/opencl-headers.sh
  docker/usr/local/toolchain/generate_toolchains.py
Labels: -Help-Wanted, -Dependencies, G-DevOps-QA, D-Harder, L-Docker

#924 Adds extra camera configs
  module/input/Camera/data/config/Cameras/Left.yaml
  module/input/Camera/data/config/Cameras/Right.yaml
Labels: G-Vision

#878 Add PlotJuggler module to forward DataPoint messages for plotting
  docker/Dockerfile
  module/network/PlotJuggler/CMakeLists.txt
  module/network/PlotJuggler/README.md
  module/network/PlotJuggler/data/config/PlotJuggler.yaml
  module/network/PlotJuggler/plotjuggler-udp-server.jpg
  module/network/PlotJuggler/src/PlotJuggler.cpp
  module/network/PlotJuggler/src/PlotJuggler.hpp
  module/network/PlotJuggler/tests/PlotJuggler.cpp
  roles/test_plotjuggler.role
Labels: G-DevTools, L-C++, -New-Feature

#937 Remove wants to kick from walk path planner
  module/behaviour/planning/SimpleWalkPathPlanner/src/SimpleWalkPathPlanner.cpp
Labels: !!-Bug, G-Motion, G-Behaviour, L-C++
