Repository NUbots/NUbots, pull requests merged in 2022-09, with the labels that each got.

#940 NUsight: Upgrade dependencies
  nusight2/.eslintrc.json
  nusight2/package.json
  nusight2/src/client/components/app/view.tsx
  nusight2/src/client/components/chart/install.tsx
  nusight2/src/client/components/chart/view.tsx
  nusight2/src/client/components/checkbox_tree/view.tsx
  nusight2/src/client/components/dashboard/install.tsx
  nusight2/src/client/components/dashboard/view.tsx
  nusight2/src/client/components/dropdown/view.tsx
  nusight2/src/client/components/dropdown_container/view.tsx
  nusight2/src/client/components/localisation/view.tsx
  nusight2/src/client/components/navigation/view.tsx
  nusight2/src/client/components/odometry/view.tsx
  nusight2/src/client/components/vision/network.ts
  nusight2/src/client/components/vision/view.tsx
  nusight2/src/client/main.tsx
  nusight2/src/client/navigation.tsx
  nusight2/src/server/nuclearnet/tests/__snapshots__/fake_nuclearnet_server.tests.ts.snap
  nusight2/src/shared/base/random/tests/__snapshots__/seeded_random.tests.ts.snap
  nusight2/yarn.lock
Labels: -Dependencies, L-TypeScript, P-NUsight2

#946 Show camera name on images in NUsight
  nusight2/src/client/components/vision/camera/styles.css
  nusight2/src/client/components/vision/camera/view.tsx
Labels: L-TypeScript, P-NUsight2, G-DevTools

#944 Show error details when NUsight Storybook build fails
  nusight2/conf/storybook/webpack.config.ts
Labels: L-TypeScript, P-NUsight2, G-DevTools

#941 Lazy load NUsight tabs for a quicker start during development
  nusight2/src/client/components/app/view.tsx
  nusight2/src/client/components/chart/create.tsx
  nusight2/src/client/components/chart/install.tsx
  nusight2/src/client/components/dashboard/create.tsx
  nusight2/src/client/components/dashboard/install.tsx
  nusight2/src/client/components/dashboard/view.tsx
  nusight2/src/client/components/localisation/create.tsx
  nusight2/src/client/components/localisation/install.tsx
  nusight2/src/client/components/localisation/view.tsx
  nusight2/src/client/components/odometry/create.tsx
  nusight2/src/client/components/odometry/install.tsx
  nusight2/src/client/components/vision/create.tsx
  nusight2/src/client/components/vision/install.tsx
  nusight2/src/client/components/visual_mesh/create.tsx
  nusight2/src/client/components/visual_mesh/install.tsx
  nusight2/src/client/main.tsx
Labels: L-TypeScript, P-NUsight2, G-DevTools

#947 Update NUClearNet.js to v1.6.0
  nusight2/package.json
  nusight2/yarn.lock
Labels: L-TypeScript, P-NUsight2, G-DevTools

#952 Allow roles to be split up into folders
  nuclear/roles/CMakeLists.txt
  nuclear/roles/NUClearRole.cmake
  nuclear/roles/generate_role.py
  tools/install.py
Labels: G-DevOps-QA, L-Python, L-CMake, -New-Feature

#900 Fix cmake so we can set the CI build flag
  CMakeLists.txt
Labels: !!-Bug, L-CMake

#951 Adds left and right goalie dive scripts
  module/motion/ScriptEngine/data/scripts/nugus/DiveLeft.yaml
  module/motion/ScriptEngine/data/scripts/nugus/DiveRight.yaml
Labels: -Enhancement

#866 Add capability to put roles in folders
  nuclear/roles/CMakeLists.txt
  nuclear/roles/NUClearRole.cmake
  nuclear/roles/generate_role.py
  roles/fake/keyboardwalk.role
  roles/fake/visualmesh.role
  roles/systemconfiguration.role
  roles/test/balllocalisation.role
  roles/test/camera.role
  roles/test/director.role
  roles/test/gamecontroller.role
  roles/test/headbeh.role
  roles/test/localisation.role
  roles/test/nusight.role
  roles/test/plotjuggler.role
  roles/test/sensor.role
  roles/test/visualmesh.role
  roles/webots/keyboardwalk.role
  roles/webots/robocup.role
  roles/webots/scripttuner.role
  roles/webots/webots.role
  tools/install.py
Labels: G-DevOps-QA, L-CMake, -New-Feature
