Repository NUbots/NUbots, pull requests merged in 2023-11, with the labels that each got.

#1254 Fix some issues in the uart utility
  module/platform/OpenCR/HardwareIO/src/HardwareIO.cpp
  shared/utility/io/uart.cpp
  shared/utility/io/uart.hpp
Labels: !!-Bug, L-C++

#1282 Change DataLogging default directory to `recordings`
  module/support/logging/DataLogging/data/config/DataLogging.yaml
Labels: -Enhancement, Config

#1281 Fix the green horizon detector such that the convex hull and clustering are done correctly
  module/vision/BallDetector/src/BallDetector.cpp
  module/vision/BallDetector/src/BallDetector.hpp
  module/vision/FieldLineDetector/src/FieldLineDetector.cpp
  module/vision/GoalDetector/src/GoalDetector.cpp
  module/vision/GoalDetector/src/GoalDetector.hpp
  module/vision/GreenHorizonDetector/README.md
  module/vision/GreenHorizonDetector/data/config/GreenHorizonDetector.yaml
  module/vision/GreenHorizonDetector/src/GreenHorizonDetector.cpp
  module/vision/GreenHorizonDetector/src/GreenHorizonDetector.hpp
  shared/message/vision/Ball.proto
  shared/message/vision/Goal.proto
  shared/message/vision/GreenHorizon.proto
  shared/tests/data/TestConvexHull.yaml
  shared/tests/utility/math/geometry/TestConvexHull.cpp
  shared/utility/math/geometry/ConvexHull.hpp
  shared/utility/vision/visualmesh/VisualMesh.hpp
Labels: !!-Bug, G-Vision, L-C++, L-Protobuf

#1280 Add a module to convert NUClear Logs and ReactionStatistics to messages for recording
  module/support/logging/DataLogging/data/config/DataLogging.yaml
  module/support/logging/MessageLogHandler/CMakeLists.txt
  module/support/logging/MessageLogHandler/README.md
  module/support/logging/MessageLogHandler/data/config/MessageLogHandler.yaml
  module/support/logging/MessageLogHandler/src/MessageLogHandler.cpp
  module/support/logging/MessageLogHandler/src/MessageLogHandler.hpp
  roles/test/messageloghandler.role
  shared/message/nuclear/LogMessage.proto
  shared/message/nuclear/ReactionStatistics.proto
Labels: !!-High-Priority, G-DevOps-QA, L-C++, L-Protobuf, -New-Feature
