Repository NUbots/NUbots, pull requests merged in 2023-02, with the labels that each got.

#1014 Update webots camera FOV and Hpc
  module/platform/Webots/data/config/WebotsCameras/left_camera.yaml
Labels: !!-Bug, G-Vision

#1015 Bring the Visual Mesh more up to date with the Fastcode repo and fix the holes in the mesh
  docker/Dockerfile
Labels: G-Vision, L-Docker

#1017 Update KickRight.yaml
  module/motion/ScriptEngine/data/scripts/nugus/KickRight.yaml
Labels: G-Motion

#1020 Adds a Director-style Look skill
  module/actuation/Kinematics/src/Kinematics.cpp
  module/skill/Look/CMakeLists.txt
  module/skill/Look/README.md
  module/skill/Look/data/config/Look.yaml
  module/skill/Look/src/Look.cpp
  module/skill/Look/src/Look.hpp
  module/skill/Look/tests/Look.cpp
  shared/message/skill/Look.proto
  shared/utility/math/coordinates.hpp
Labels: G-Motion, G-Behaviour, L-C++, L-Protobuf

#1022 Rename the Director KickScript skill to ScriptKick
  module/skill/KickScript/src/KickScript.hpp
  module/skill/ScriptKick/CMakeLists.txt
  module/skill/ScriptKick/README.md
  module/skill/ScriptKick/data/config/ScriptKick.yaml
  module/skill/ScriptKick/src/ScriptKick.cpp
  module/skill/ScriptKick/src/ScriptKick.hpp
  module/skill/ScriptKick/tests/ScriptKick.cpp
  roles/test/directormotion.role
Labels: G-Motion

#1024 Add VS Code debugging launchers for roles
  .gitignore
  CMakeLists.txt
  cmake/scripts/generate_launch_configurations.py
Labels: -Enhancement, G-DevOps-QA, L-Python, L-CMake, -New-Feature

#1025 Updates the Look skill to use torso space and vector for smoothing
  module/skill/Look/data/config/Look.yaml
  module/skill/Look/src/Look.cpp
  module/skill/Look/src/Look.hpp
  roles/webots/directormotion.role
  shared/message/skill/Look.proto
Labels: G-Motion, L-C++, L-Protobuf

#1028 Move scripts from ScriptEngine to its own folder, for Director
  nuclear/CMakeLists.txt
  shared/utility/libraries.cmake
  shared/utility/skill/scripts/docker/KickLeft.yaml
  shared/utility/skill/scripts/docker/KickPenalty.yaml
  shared/utility/skill/scripts/docker/KickRight.yaml
  shared/utility/skill/scripts/docker/NodYes.yaml
  shared/utility/skill/scripts/docker/Relax.yaml
  shared/utility/skill/scripts/docker/RelaxHead.yaml
  shared/utility/skill/scripts/docker/RollOverFront.yaml
  shared/utility/skill/scripts/docker/Stand.yaml
  shared/utility/skill/scripts/docker/StandUpBack.yaml
  shared/utility/skill/scripts/docker/StandUpFront.yaml
  shared/utility/skill/scripts/docker/Zombie.yaml
  shared/utility/skill/scripts/nugus/DiveLeft.yaml
  shared/utility/skill/scripts/nugus/DiveRight.yaml
  shared/utility/skill/scripts/nugus/KickLeft.yaml
  shared/utility/skill/scripts/nugus/KickRight.yaml
  shared/utility/skill/scripts/nugus/NodYes.yaml
  shared/utility/skill/scripts/nugus/Relax.yaml
  shared/utility/skill/scripts/nugus/RelaxHead.yaml
  shared/utility/skill/scripts/nugus/RollOverBack.yaml
  shared/utility/skill/scripts/nugus/RollOverFront.yaml
  shared/utility/skill/scripts/nugus/Stand.yaml
  shared/utility/skill/scripts/nugus/StandUpBack.yaml
  shared/utility/skill/scripts/nugus/StandUpFront.yaml
  shared/utility/skill/scripts/nugus/Zombie.yaml
  shared/utility/skill/scripts/nugus1/KickLeft.yaml
  shared/utility/skill/scripts/nugus1/KickRight.yaml
  shared/utility/skill/scripts/webots/KickLeft.yaml
  shared/utility/skill/scripts/webots/KickPenalty.yaml
  shared/utility/skill/scripts/webots/KickRight.yaml
  shared/utility/skill/scripts/webots/NodYes.yaml
  shared/utility/skill/scripts/webots/Relax.yaml
  shared/utility/skill/scripts/webots/RelaxHead.yaml
  shared/utility/skill/scripts/webots/RollOverFront.yaml
  shared/utility/skill/scripts/webots/Stand.yaml
  shared/utility/skill/scripts/webots/StandUpBack.yaml
  shared/utility/skill/scripts/webots/StandUpFront.yaml
  shared/utility/skill/scripts/webots/Zombie.yaml
  tools/install.py
Labels: L-CMake

#1026 Edit the Script system into functions rather than an extension to separate Tasks and Scripts
  module/planning/FallingRelaxPlanner/src/FallingRelaxPlanner.cpp
  module/skill/GetUp/src/GetUp.cpp
  module/skill/GetUp/src/GetUp.hpp
  module/skill/Look/src/Look.cpp
  module/skill/ScriptKick/src/ScriptKick.cpp
  shared/extension/behaviour/Script.hpp
  shared/utility/motion/Script.hpp
Labels: -Enhancement, G-Motion, L-C++
