Repository NUbots/NUbots, pull requests merged in 2024-06, with the labels that each got.

#1364 Add error and fault handling for NUSense.
  module/platform/NUSense/HardwareIO/src/HardwareIO.cpp
  shared/message/platform/NUSenseData.proto
Labels: -Enhancement, G-Hardware, L-C++

#1366 Add Yolo module into the Webots RoboCup role
  roles/webots/robocup.role
Labels: !!-Bug

#1367 Set default NLopt field localisation config to start on EITHER side of the field
  module/localisation/FieldLocalisationNLopt/data/config/FieldLocalisationNLopt.yaml
Labels: G-Localisation-Odometry, Config

#1373 Tune Kevin's kick
  module/skill/SplineKick/data/config/kevin/SplineKick.yaml
Labels: Config

#1372 Update OpenCR config to use 3Mbps baudrate
  module/platform/NUSense/HardwareIO/data/config/HardwareIO.yaml
  module/platform/NUSense/HardwareIO/data/config/billie/HardwareIO.yaml
  module/platform/NUSense/HardwareIO/data/config/frankie/HardwareIO.yaml
  module/platform/NUSense/HardwareIO/data/config/kevin/HardwareIO.yaml
  module/platform/NUSense/HardwareIO/data/config/sarah/HardwareIO.yaml
  module/platform/NUSense/HardwareIO/src/HardwareIO.cpp
  module/platform/OpenCR/HardwareIO/data/config/billie/HardwareIO.yaml
  module/platform/OpenCR/HardwareIO/data/config/frankie/HardwareIO.yaml
  module/platform/OpenCR/HardwareIO/data/config/kevin/HardwareIO.yaml
  module/platform/OpenCR/HardwareIO/data/config/sarah/HardwareIO.yaml
  shared/utility/platform/robot_names.yaml
Labels: G-Hardware, Config

#1371 Add robot name stuff to robocup config, and add in setting team/player id
  module/tools/RoboCupConfiguration/README.md
  module/tools/RoboCupConfiguration/src/RoboCupConfiguration.cpp
  module/tools/RoboCupConfiguration/src/RoboCupConfiguration.hpp
  shared/utility/platform/aliases.hpp
  shared/utility/platform/robot_names.yaml
Labels: !!-Bug, -Enhancement, L-C++

#1377 Have root set the frequency update for behaviour providers
  module/planning/PlanLook/src/PlanLook.cpp
  module/purpose/Soccer/src/Soccer.cpp
  module/purpose/Soccer/src/Soccer.hpp
  module/purpose/Tester/src/Tester.cpp
  module/purpose/Tester/src/Tester.hpp
  module/strategy/AlignBallToGoal/src/AlignBallToGoal.cpp
  module/strategy/KickToGoal/src/KickToGoal.cpp
  module/strategy/Ready/src/Ready.cpp
  module/strategy/StrategiseLook/src/StrategiseLook.cpp
  module/strategy/WalkToBall/src/WalkToBall.cpp
  module/strategy/WalkToFieldPosition/src/WalkToFieldPosition.cpp
Labels: G-Behaviour, L-C++

#1374 Add a soft start module so the robot doesn't jerk to position dangerously
  module/actuation/FootController/data/config/FootController.yaml
  module/actuation/FootController/src/FootController.cpp
  module/actuation/FootController/src/FootController.hpp
  module/purpose/KeyboardWalk/src/KeyboardWalk.cpp
  module/purpose/Soccer/src/Soccer.cpp
  module/purpose/Tester/data/config/Tester.yaml
  module/purpose/Tester/src/Tester.cpp
  module/purpose/Tester/src/Tester.hpp
  module/strategy/StartSafely/CMakeLists.txt
  module/strategy/StartSafely/README.md
  module/strategy/StartSafely/data/config/StartSafely.yaml
  module/strategy/StartSafely/src/StartSafely.cpp
  module/strategy/StartSafely/src/StartSafely.hpp
  roles/keyboardwalk.role
  roles/robocup.role
  roles/test/behaviour.role
  roles/test/localisation.role
  roles/webots/behaviour.role
  roles/webots/demo.role
  roles/webots/keyboardwalk.role
  roles/webots/localisation.role
  roles/webots/robocup.role
  shared/message/strategy/StartSafely.proto
Labels: G-Motion, G-Behaviour, L-C++, -New-Feature

#1379 Vision heuristics with YOLO + VMesh (mostly balls)
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/vision/BallDetector/data/config/BallDetector.yaml
  module/vision/GreenHorizonDetector/data/config/GreenHorizonDetector.yaml
  module/vision/GreenHorizonDetector/src/GreenHorizonDetector.cpp
  module/vision/GreenHorizonDetector/src/GreenHorizonDetector.hpp
  module/vision/Yolo/README.md
  module/vision/Yolo/data/config/Yolo.yaml
  module/vision/Yolo/src/Yolo.cpp
Labels: G-Vision, L-C++, Config
