Repository NUbots/NUbots, pull requests merged in 2024-05, with the labels that each got.

#1236 Migrate PS3Walk to Director and add dance moves
  module/purpose/PS3Walk/data/config/PS3Walk.yaml
  module/purpose/PS3Walk/src/PS3Walk.cpp
  module/purpose/PS3Walk/src/PS3Walk.hpp
  module/purpose/PS3Walk/tests/PS3Walk.cpp
  module/skill/Look/data/config/Look.yaml
  shared/utility/skill/scripts/nugus/ArmDangle.yaml
  shared/utility/skill/scripts/nugus/Clap.yaml
  shared/utility/skill/scripts/nugus/Crouch.yaml
  shared/utility/skill/scripts/nugus/Dab.yaml
  shared/utility/skill/scripts/nugus/RaiseTheRoof.yaml
  shared/utility/skill/scripts/nugus/Star.yaml
  shared/utility/skill/scripts/nugus/TheRobot.yaml
  shared/utility/skill/scripts/nugus/Wave.yaml
Labels: L-C++

#1335 Have the robot look forward in initial and ready
  module/purpose/Soccer/src/Soccer.cpp
Labels: G-Behaviour, L-C++

#1347 Stop penalisation when force playing
  module/purpose/Soccer/src/Soccer.cpp
Labels: !!-Bug, G-Behaviour, L-C++

#1348 Slight tune to Kevin's HardwareIO and tunes SplineKick on Kevin
  module/platform/OpenCR/HardwareIO/data/config/nugus1/HardwareIO.yaml
  module/skill/SplineKick/data/config/nugus1/SplineKick.yaml
Labels: G-Motion, Config

#1346 Add aliases for nugusX and robot names to associate with hardware
  module/input/Camera/data/config/billie/Cameras/Left.yaml
  module/input/Camera/data/config/frankie/Cameras/Left.yaml
  module/input/Camera/data/config/kevin/Cameras/Left.yaml
  module/input/Camera/data/config/sarah/Cameras/Left.yaml
  module/input/Camera/src/Camera.cpp
  module/platform/OpenCR/HardwareIO/data/config/billie/HardwareIO.yaml
  module/platform/OpenCR/HardwareIO/data/config/frankie/HardwareIO.yaml
  module/platform/OpenCR/HardwareIO/data/config/kevin/HardwareIO.yaml
  module/platform/OpenCR/HardwareIO/data/config/sarah/HardwareIO.yaml
  module/platform/Webots/src/Webots.cpp
  module/skill/SplineKick/data/config/frankie/SplineKick.yaml
  module/skill/SplineKick/data/config/kevin/SplineKick.yaml
  module/skill/Walk/data/config/billie/Walk.yaml
  module/skill/Walk/data/config/frankie/Walk.yaml
  module/skill/Walk/data/config/kevin/Walk.yaml
  module/skill/Walk/data/config/nugus2/Walk.yaml
  shared/extension/Configuration.hpp
  shared/utility/libraries.cmake
  shared/utility/platform/aliases.hpp
  shared/utility/platform/robot_names.yaml
  shared/utility/skill/Script.hpp
  shared/utility/skill/scripts/billie/StandUpFront.yaml
  shared/utility/skill/scripts/frankie/StandUpBack.yaml
  shared/utility/skill/scripts/frankie/StandUpFront.yaml
  shared/utility/skill/scripts/kevin/StandUpBack.yaml
  shared/utility/skill/scripts/kevin/StandUpFront.yaml
  shared/utility/skill/scripts/sarah/StandUpFront.yaml
  tools/install.py
Labels: L-C++, -New-Feature, Config

#1352 Fix name config (again)
  shared/utility/platform/aliases.hpp
Labels: !!-Bug

#1345 Add RoboCup Configuration Tool
  module/network/NUClearNet/src/NUClearNet.cpp
  module/network/PlotJuggler/src/PlotJuggler.cpp
  module/tools/RoboCupConfiguration/CMakeLists.txt
  module/tools/RoboCupConfiguration/README.md
  module/tools/RoboCupConfiguration/data/config/RoboCupConfiguration.yaml
  module/tools/RoboCupConfiguration/src/RoboCupConfiguration.cpp
  module/tools/RoboCupConfiguration/src/RoboCupConfiguration.hpp
  roles/robocupconfiguration.role
  shared/extension/Configuration.hpp
  shared/utility/skill/Script.hpp
  shared/utility/support/hostname.hpp
  shared/utility/support/network.hpp
  shared/utility/support/yaml_expression.hpp
Labels: RoboCup, G-DevOps-QA, L-C++, -New-Feature

#1355 Freeze localisation and odometry when fallen/falling over
  module/input/SensorFilter/src/SensorFilter.cpp
  module/input/SensorFilter/src/SensorFilter.hpp
  module/localisation/FieldLocalisation/src/FieldLocalisation.cpp
  module/localisation/FieldLocalisationNLopt/src/FieldLocalisationNLopt.cpp
  module/skill/Walk/src/Walk.cpp
Labels: !!-Bug, G-Localisation-Odometry, L-C++
