Repository NUbots/NUbots, pull requests merged in 2024-03, with the labels that each got.

#1318 Some changes to the robot localisation code [base is not main!]
  module/localisation/RobotLocalisation/data/config/RobotLocalisation.yaml
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/localisation/RobotLocalisation/src/RobotLocalisation.hpp
  shared/message/vision/Robot.proto
Labels: G-Localisation-Odometry, L-C++

#1320 Add a text renderer to NUsight camera
  nusight2/src/client/components/camera/objects/text/README.md
  nusight2/src/client/components/camera/objects/text/shaders/text.frag
  nusight2/src/client/components/camera/objects/text/shaders/text.vert
  nusight2/src/client/components/camera/objects/text/stories/text.stories.tsx
  nusight2/src/client/components/camera/objects/text/stories/text_interactive.stories.tsx
  nusight2/src/client/components/camera/objects/text/text.ts
  nusight2/src/client/components/three/builders.ts
Labels: L-TypeScript, P-NUsight2, -New-Feature

#1321 Update Frankie getups and arm offsets
  module/platform/OpenCR/HardwareIO/data/config/nugus4/HardwareIO.yaml
  roles/scripttuner.role
  shared/utility/skill/scripts/nugus/Stand.yaml
  shared/utility/skill/scripts/nugus4/StandUpBack.yaml
  shared/utility/skill/scripts/nugus4/StandUpFront.yaml
Labels: !!-Bug, G-Motion, Config
