Repository NUbots/NUbots, pull requests merged in 2024-02, with the labels that each got.

#1301 Improve frankies walk
  module/platform/OpenCR/HardwareIO/data/config/nugus1/HardwareIO.yaml
  module/skill/Walk/data/config/nugus1/Walk.yaml
Labels: G-Motion, G-Hardware

#1302 Fix asan errors on main
  module/strategy/WalkToFieldPosition/src/WalkToFieldPosition.cpp
  module/vision/VisualMesh/src/VisualMesh.cpp
  shared/utility/localisation/OccupancyMap.hpp
Labels: !!-Bug, G-Localisation-Odometry, G-Vision, G-Behaviour, L-C++

#1303 More thoroughly reset odometry when resetting localisation
  module/input/SensorFilter/data/config/SensorFilter.yaml
  module/input/SensorFilter/data/config/nugus/SensorFilter.yaml
  module/input/SensorFilter/src/SensorFilter.cpp
  module/input/SensorFilter/src/SensorFilter.hpp
  module/input/SensorFilter/src/sensorfilter/KalmanFilter.cpp
  module/input/SensorFilter/src/sensorfilter/MahonyFilter.cpp
  module/input/SensorFilter/src/sensorfilter/UKF.cpp
  roles/webots/localisation.role
  roles/webots/robocup.role
  shared/message/vision/Robot.proto
Labels: !!-Bug, G-Localisation-Odometry, L-C++

#1300 Add NSGA-II optimiser with Webots and onboard robot functionality
  .gitignore
  module/platform/Webots/src/Webots.cpp
  module/platform/Webots/src/Webots.hpp
  module/support/optimisation/NSGA2Evaluator/CMakeLists.txt
  module/support/optimisation/NSGA2Evaluator/README.md
  module/support/optimisation/NSGA2Evaluator/data/config/NSGA2Evaluator.yaml
  module/support/optimisation/NSGA2Evaluator/src/NSGA2Evaluator.cpp
  module/support/optimisation/NSGA2Evaluator/src/NSGA2Evaluator.hpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/EvaluatorTask.hpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/RotationEvaluator.cpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/RotationEvaluator.hpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/StandEvaluator.cpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/StandEvaluator.hpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/StrafeEvaluator.cpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/StrafeEvaluator.hpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/WalkEvaluator.cpp
  module/support/optimisation/NSGA2Evaluator/src/tasks/WalkEvaluator.hpp
  module/support/optimisation/NSGA2Optimiser/CMakeLists.txt
  module/support/optimisation/NSGA2Optimiser/README.md
  module/support/optimisation/NSGA2Optimiser/data/config/ExampleStandConfig.yaml
  module/support/optimisation/NSGA2Optimiser/data/config/ExampleWalkConfig.yaml
  module/support/optimisation/NSGA2Optimiser/data/config/NSGA2Optimiser.yaml
  module/support/optimisation/NSGA2Optimiser/src/NSGA2Optimiser.cpp
  module/support/optimisation/NSGA2Optimiser/src/NSGA2Optimiser.hpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/Individual.cpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/Individual.hpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/NSGA2.cpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/NSGA2.hpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/Population.cpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/Population.hpp
  module/support/optimisation/NSGA2Optimiser/src/nsga2/Random.hpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/MultiPathOptimiser.cpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/MultiPathOptimiser.hpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/OptimiserTask.hpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/RotationOptimiser.cpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/RotationOptimiser.hpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/StandOptimiser.cpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/StandOptimiser.hpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/StrafeOptimiser.cpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/StrafeOptimiser.hpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/WalkOptimiser.cpp
  module/support/optimisation/NSGA2Optimiser/src/tasks/WalkOptimiser.hpp
  module/support/optimisation/OnboardWalkOptimisation/CMakeLists.txt
  module/support/optimisation/OnboardWalkOptimisation/README.md
  module/support/optimisation/OnboardWalkOptimisation/data/config/OnboardWalkOptimisation.yaml
  module/support/optimisation/OnboardWalkOptimisation/src/OnboardWalkOptimisation.cpp
  module/support/optimisation/OnboardWalkOptimisation/src/OnboardWalkOptimisation.hpp
  roles/onboardwalkoptimisation.role
  roles/webots/walkoptimisation.role
  shared/message/platform/webots/messages.proto
  shared/message/support/optimisation/NSGA2Evaluator.proto
  shared/message/support/optimisation/NSGA2Optimiser.proto
  shared/message/support/optimisation/OptimisationCommand.proto
  shared/message/support/optimisation/OptimisationResetDone.proto
  shared/message/support/optimisation/OptimisationRobotPosition.proto
  shared/message/support/optimisation/OptimisationTimeUpdate.proto
  tools/format.py
Labels: G-Motion, G-DevTools, L-C++, L-Protobuf, -New-Feature

#1087 Added initial robot-robot communication
  module/network/RobotCommunication/CMakeLists.txt
  module/network/RobotCommunication/README.md
  module/network/RobotCommunication/data/config/RobotCommunication.yaml
  module/network/RobotCommunication/src/RobotCommunication.cpp
  module/network/RobotCommunication/src/RobotCommunication.hpp
  roles/robocup.role
  roles/webots/behaviour.role
  roles/webots/robocup.role
  shared/message/input/RoboCup.proto
  shared/message/input/Sensors.proto
Labels: G-Behaviour, L-C++, L-Protobuf, -New-Feature

#1307 Tunes Frankie (nugus4) and small code changes for quality of life and fixes for the real robot and lab
  module/input/Camera/data/config/Cameras/Left.yaml
  module/input/Camera/data/config/nugus4/Cameras/Left.yaml
  module/localisation/FieldLocalisation/src/FieldLineOccupanyMap.cpp
  module/network/NetworkForwarder/src/NetworkForwarder.hpp
  module/planning/PlanKick/data/config/PlanKick.yaml
  module/planning/PlanKick/src/PlanKick.cpp
  module/platform/OpenCR/HardwareIO/data/config/nugus4/HardwareIO.yaml
  module/skill/Walk/data/config/nugus4/Walk.yaml
  module/vision/BallDetector/data/config/BallDetector.yaml
  module/vision/GreenHorizonDetector/data/config/GreenHorizonDetector.yaml
  roles/scripttuner.role
  shared/utility/skill/scripts/nugus4/StandUpFront.yaml
Labels: !!-Bug, -Enhancement, G-Motion, G-Localisation-Odometry, G-Vision, G-Behaviour, L-C++, Config

#1309 Add a kick for Frankie
  module/skill/SplineKick/data/config/nugus4/SplineKick.yaml
Labels: G-Motion, Config

#1241 Adds a stream reactor component along with some supporting utilities.
  shared/tests/utility/network/connect.cpp
  shared/utility/file/FileDescriptor.cpp
  shared/utility/file/FileDescriptor.hpp
  shared/utility/io/uart.cpp
  shared/utility/io/uart.hpp
  shared/utility/network/connect.cpp
  shared/utility/network/connect.hpp
  shared/utility/reactor/StreamReactor.hpp
Labels: G-Hardware, L-C++, -New-Feature
