Repository NUbots/NUbots, pull requests merged in 2025-07, with the labels that each got.

#1647 Make NUSense the default subcontroller when building
  CMakeLists.txt
Labels: G-DevOps-QA, G-Hardware, L-CMake

#1639 Update the goalie behaviour similarly to the FieldPlayer
  module/purpose/FieldPlayer/data/config/FieldPlayer.yaml
  module/purpose/FieldPlayer/src/FieldPlayer.cpp
  module/purpose/FieldPlayer/src/FieldPlayer.hpp
  module/purpose/Goalie/README.md
  module/purpose/Goalie/data/config/Goalie.yaml
  module/purpose/Goalie/src/Goalie.cpp
  module/purpose/Goalie/src/Goalie.hpp
  module/purpose/Soccer/src/Soccer.cpp
  shared/message/input/GameState.proto
  shared/message/purpose/Goalie.proto
  shared/message/purpose/Player.proto
Labels: G-Behaviour, L-C++, L-Protobuf

#1650 Tune Frankie's camera pitch and change all FOV to auto
  module/input/Camera/data/config/billie/Cameras/Left.yaml
  module/input/Camera/data/config/frankie/Cameras/Left.yaml
  module/input/Camera/data/config/kevin/Cameras/Left.yaml
  module/input/Camera/data/config/sarah/Cameras/Left.yaml
Labels: G-Vision, Config

#1656 Add offset for ready position in kickoff
  shared/utility/strategy/positioning.hpp
Labels: !!-Bug, G-Behaviour, L-C++

#1668 Makes when we kick configurable and sets to attacking third
  module/purpose/Attack/data/config/Attack.yaml
  module/purpose/Attack/src/Attack.cpp
  module/purpose/Attack/src/Attack.hpp
Labels: G-Behaviour, L-C++, Config

#1670 Tune Sarah's camera extrinsics
  module/input/Camera/data/config/sarah/Cameras/Left.yaml
Labels: Config

#1669 Fix bug making the robot walk when pressing localisation reset button during penalisation
  module/purpose/Soccer/src/Soccer.cpp
Labels: !!-Bug, G-Behaviour, L-C++

#1676 Prevent oscillations when in ready position
  module/strategy/WalkToFieldPosition/data/config/WalkToFieldPosition.yaml
Labels: Config

#1673 Remove the double log in field localisation
  module/localisation/FieldLocalisationNLopt/src/FieldLocalisationNLopt.cpp
Labels: !!-Bug, G-Localisation-Odometry

#1675 Roll when falling on side
  module/skill/GetUp/data/config/GetUp.yaml
  module/skill/GetUp/src/GetUp.cpp
  module/skill/GetUp/src/GetUp.hpp
  shared/utility/skill/scripts/docker/RollOverFront.yaml
  shared/utility/skill/scripts/docker/SideRoll.yaml
  shared/utility/skill/scripts/nugus/SideRoll.yaml
  shared/utility/skill/scripts/webots/RollOverFront.yaml
  shared/utility/skill/scripts/webots/SideRoll.yaml
Labels: G-Motion, L-C++, Config

#1677 Move the feet further apart in front and back get ups to align with final stand stance
  shared/utility/skill/scripts/nugus/StandUpBack.yaml
  shared/utility/skill/scripts/nugus/StandUpFront.yaml
Labels: G-Motion, Config

#1684 Frankie specific front getup and new back getup or the bumpers
  shared/utility/skill/scripts/frankie/StandUpFront.yaml
  shared/utility/skill/scripts/nugus/StandUpBack.yaml
Labels: G-Motion, Config

#1686 Walk and vision tuning [RoboCup]
  module/skill/Walk/data/config/sarah/Walk.yaml
  module/vision/GreenHorizonDetector/data/config/GreenHorizonDetector.yaml
  module/vision/Yolo/data/config/Yolo.yaml
Labels: Config

#1685 Cut out field lines at a distance [RoboCup]
  module/vision/FieldLineDetector/data/config/FieldLineDetector.yaml
  module/vision/FieldLineDetector/src/FieldLineDetector.cpp
  module/vision/FieldLineDetector/src/FieldLineDetector.hpp
Labels: G-Vision

#1690 Change from using broadcast to unicast for GameController reply packets
  module/input/GameController/src/GameController.cpp
  module/input/GameController/src/GameController.hpp
Labels: !!-Bug

#1711 Stop double waits in the Director and fix cleanup in the tree causing orphans trying to run tasks
  module/extension/Director/src/director/remove_task.cpp
  module/extension/Director/src/director/run_task_pack.cpp
Labels: !!-Bug

#1714 Don't ignore high localisation cost teammates
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
Labels: !!-Bug

#1728 Fix the kick off positioning values and dont trigger play when the ball moves
  module/purpose/FieldPlayer/src/FieldPlayer.cpp
  module/purpose/ReadyAttack/data/config/ReadyAttack.yaml
  module/purpose/ReadyAttack/src/ReadyAttack.cpp
  shared/utility/strategy/positioning.hpp
Labels: !!-Bug
