Repository NUbots/NUbots, pull requests merged in 2025-01, with the labels that each got.

#1518 Add robot-specific player ID config
  module/support/configuration/GlobalConfig/data/config/nugus2/GlobalConfig.yaml
  module/support/configuration/GlobalConfig/data/config/nugus3/GlobalConfig.yaml
  module/support/configuration/GlobalConfig/data/config/nugus4/GlobalConfig.yaml
Labels: Config

#1521 Pathplanner straight back
  module/planning/PlanWalkPath/data/config/PlanWalkPath.yaml
  module/planning/PlanWalkPath/data/config/webots/PlanWalkPath.yaml
  module/planning/PlanWalkPath/src/PlanWalkPath.cpp
  module/planning/PlanWalkPath/src/PlanWalkPath.hpp
Labels: G-Behaviour, L-C++

#1519 Adds a `Wait` special Task that will run the Provider after a given time and optionally `Wait` on Servo Providers
  module/actuation/Servos/src/Servos.hpp
  module/extension/Director/src/Director.cpp
  module/extension/Director/src/Director.hpp
  module/extension/Director/src/director/run_task_pack.cpp
  module/extension/Director/tests/TestBase.hpp
  module/extension/Director/tests/wait_task.cpp
  module/extension/Director/tests/wait_task_cancel.cpp
  module/extension/Director/tests/wait_task_cancel_trigger.cpp
  shared/extension/Behaviour.hpp
  shared/message/actuation/ServoCommand.proto
  shared/utility/skill/Script.hpp
Labels: G-Behaviour, L-C++, -New-Feature

#1512 [NUsight] Add scrollbar to navbar for content overflow
  nusight2/src/client/components/app/view.tsx
  nusight2/src/client/components/navigation/view.tsx
Labels: L-TypeScript, P-NUsight2, G-DevTools
