Repository NUbots/NUbots, pull requests merged in 2025-05, with the labels that each got.

#1557 Swap to using poetry for python dependency management and automatical…
  b
  docker/.dockerignore
  docker/Dockerfile
  docker/Dockerfile.nugus_sim
  docker/nugus_sim/run.py
  poetry.lock
  pyproject.toml
  tools/requirements.map
  tools/requirements.txt
Labels: L-Python

#1561 Fix Multi Robot Tool (async and poetry python library)
  poetry.lock
  pyproject.toml
  tools/multi.py
Labels: !!-Bug, G-DevOps-QA, L-Python

#1564 Fix warnings in NUsight coming from text component
  nusight2/src/client/components/localisation/r3f_components/text_billboard.tsx
  nusight2/src/client/components/localisation/r3f_components/text_geometry_helper.tsx
Labels: !!-Bug, L-TypeScript, P-NUsight2, G-DevTools

#1565 Fix scripttuner by adding in KinematicsConfiguration to the role
  roles/scripttuner.role
Labels: !!-Bug, G-Motion

#1566 Refactor RobotLocalisation to make way for more functionality (eg team association)
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/localisation/RobotLocalisation/src/RobotLocalisation.hpp
Labels: G-Localisation-Odometry, L-C++

#1569 Add a delay to RobotCommunication to prevent empty/incorrect messages
  module/network/RobotCommunication/data/config/RobotCommunication.yaml
  module/network/RobotCommunication/src/RobotCommunication.cpp
  module/network/RobotCommunication/src/RobotCommunication.hpp
Labels: L-C++

#1539 Add in functionality for deciding if we have the ball
  module/network/RobotCommunication/src/RobotCommunication.cpp
  shared/message/strategy/TeamMates.proto
  shared/utility/strategy/soccer_strategy.hpp
Labels: G-Behaviour, L-C++, L-Protobuf

#1574 Ignore tracked robots outside the field in RobotLocalisation
  module/localisation/RobotLocalisation/README.md
  module/localisation/RobotLocalisation/data/config/RobotLocalisation.yaml
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/localisation/RobotLocalisation/src/RobotLocalisation.hpp
Labels: -Enhancement, D-Good-First-Issue, G-Localisation-Odometry, L-C++, Config

#1570 Add in team association to robot localisation
  module/localisation/RobotLocalisation/README.md
  module/localisation/RobotLocalisation/data/config/RobotLocalisation.yaml
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/localisation/RobotLocalisation/src/RobotLocalisation.hpp
  module/network/RobotCommunication/src/RobotCommunication.cpp
  nusight2/src/client/components/localisation/network.ts
  nusight2/src/client/components/localisation/r3f_components/field_objects.tsx
  nusight2/src/client/components/localisation/robot_model.ts
  nusight2/src/client/components/localisation/view.tsx
  roles/webots/localisation.role
  shared/message/localisation/Robot.proto
Labels: L-TypeScript, P-NUsight2, G-Localisation-Odometry, L-C++, L-Protobuf, -New-Feature

#1577 Fixes to RobotLocalisation and add penalisation info for teammates
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/localisation/RobotLocalisation/src/RobotLocalisation.hpp
  shared/message/localisation/Robot.proto
Labels: !!-Bug, G-Localisation-Odometry, L-C++, L-Protobuf

#1581 Change name for FindFeature to FindBall
  module/purpose/AllRounder/src/AllRounder.cpp
  module/purpose/Defender/src/Defender.cpp
  module/purpose/Goalie/src/Goalie.cpp
  module/purpose/Striker/src/Striker.cpp
  module/purpose/Tester/src/Tester.cpp
  module/strategy/FindObject/src/FindObject.cpp
  shared/message/strategy/FindBall.proto
Labels: G-Behaviour

#1575 Receive the button-data from NUSense.
  module/platform/NUSense/HardwareIO/src/HardwareIO.cpp
  shared/message/platform/NUSenseData.proto
Labels: G-Hardware, L-C++, L-Protobuf, -New-Feature
