Repository NUbots/NUbots, pull requests merged in 2025-06, with the labels that each got.

#1593 Fix Python tools that fail to run
  pyproject.toml
  tools/nbs/footdown.py
  tools/nusense/generate_nanopb_message.py
  tools/test/utility/nbs.py
Labels: !!-Bug, G-DevTools, L-Python

#1596 Decrease compute time of GreenHorizon by switching to a faster clustering algorithm
  shared/utility/vision/visualmesh/VisualMesh.hpp
Labels: -Enhancement, G-Vision, L-C++

#1598 Add gyro offset in HardwareIO
  module/platform/OpenCR/HardwareIO/data/config/OpenCR.yaml
  module/platform/OpenCR/HardwareIO/data/config/nugus1/OpenCR.yaml
  module/platform/OpenCR/HardwareIO/src/HardwareIO.cpp
  module/platform/OpenCR/HardwareIO/src/HardwareIO.hpp
  module/platform/OpenCR/HardwareIO/src/hardwareio/process_data.cpp
Labels: !!-Bug, G-Hardware, L-C++, Config

#1599 Prevent segmentation fault in field localisation when no field line intersections exist
  module/localisation/FieldLocalisationNLopt/src/FieldLocalisationNLopt.cpp
Labels: !!-Bug, G-Localisation-Odometry, L-C++

#1601 Emit localisation in the main update loop rather than on new information updates
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
Labels: G-Localisation-Odometry, L-C++

#1603 Tune Billie's offsets and camera.
  module/actuation/KinematicsConfiguration/data/config/billie/Offsets.yaml
  module/input/Camera/data/config/billie/Cameras/Left.yaml
  module/vision/GreenHorizonDetector/data/config/GreenHorizonDetector.yaml
Labels: Config

#1606 Clean up modules in actuation, extension and input
  module/actuation/FootController/data/config/webots/FootController.yaml
  module/actuation/FootController/src/FootController.cpp
  module/actuation/FootController/src/FootController.hpp
  module/actuation/Kinematics/data/config/nugus/Kinematics.yaml
  module/actuation/Kinematics/src/Kinematics.cpp
  module/actuation/Kinematics/src/Kinematics.hpp
  module/actuation/KinematicsConfiguration/README.md
  module/actuation/KinematicsConfiguration/data/config/webots/KinematicsConfiguration.yaml
  module/actuation/KinematicsConfiguration/src/KinematicsConfiguration.cpp
  module/actuation/KinematicsConfiguration/src/KinematicsConfiguration.hpp
  module/actuation/Servos/src/Servos.hpp
  module/extension/Director/README.md
  module/input/GameController/src/GameController.cpp
  module/input/SensorFilter/data/config/webots/SensorFilter.yaml
  module/input/SensorFilter/src/MotionModel.hpp
  module/input/SensorFilter/src/SensorFilter.cpp
  module/input/SensorFilter/src/SensorFilter.hpp
  module/input/SensorFilter/src/sensorfilter/buttons.cpp
  module/input/SensorFilter/src/sensorfilter/debug.cpp
  module/input/SensorFilter/src/sensorfilter/update_kinematics.cpp
  module/input/SensorFilter/src/sensorfilter/update_odometry.cpp
  module/input/SensorFilter/src/sensorfilter/update_raw_sensors.cpp
  shared/utility/support/yaml_expression.hpp
Labels: -Documentation, G-Motion, G-Localisation-Odometry, L-C++, Config

#1607 [Merge into a feature branch, not main] Use the walk generator's clock and step period to stop/start the kick
  module/skill/KickWalk/data/config/KickWalk.yaml
  module/skill/KickWalk/src/KickWalk.cpp
  module/skill/KickWalk/src/KickWalk.hpp
  module/skill/Walk/data/config/webots/Walk.yaml
  module/skill/Walk/src/Walk.cpp
  module/skill/Walk/src/Walk.hpp
  shared/message/skill/Walk.proto
Labels: G-Motion, L-C++

#1608 Check ball for nullptr before proceeding in FieldPlayer
  module/purpose/FieldPlayer/src/FieldPlayer.cpp
Labels: !!-Bug, G-Behaviour, L-C++

#1612 NUsight two teams support - flip red team on the NUsight localisation view, have both teams in NUsight
  module/network/NUClearNet/src/NUClearNet.cpp
  module/purpose/FieldPlayer/src/FieldPlayer.cpp
  module/purpose/Soccer/src/Soccer.cpp
  nusight2/src/client/components/localisation/network.ts
  nusight2/src/client/components/localisation/robot_model.ts
  nusight2/src/shared/math/matrix4.ts
  shared/message/purpose/Purpose.proto
Labels: L-TypeScript, P-NUsight2, G-DevTools, L-C++

#1613 Upgrade RoboCupConfiguration tool to use the Configuration extension and use SoccerNew
  module/tools/RoboCupConfiguration/src/RoboCupConfiguration.cpp
  module/tools/RoboCupConfiguration/src/RoboCupConfiguration.hpp
Labels: !!-Bug, G-DevTools, L-C++

#1620 [Merge into feature branch] Clean up robot to robot balls
  module/localisation/BallLocalisation/data/config/BallLocalisation.yaml
  module/localisation/BallLocalisation/src/BallLocalisation.cpp
  module/localisation/BallLocalisation/src/BallLocalisation.hpp
  module/network/RobotCommunication/src/RobotCommunication.cpp
Labels: G-Localisation-Odometry, L-C++

#1623 Add functionality for a support player
  module/localisation/RobotLocalisation/data/config/RobotLocalisation.yaml
  module/localisation/RobotLocalisation/src/RobotLocalisation.cpp
  module/localisation/RobotLocalisation/src/RobotLocalisation.hpp
  module/network/RobotCommunication/src/RobotCommunication.cpp
  module/purpose/FieldPlayer/data/config/FieldPlayer.yaml
  module/purpose/FieldPlayer/src/FieldPlayer.cpp
  module/purpose/FieldPlayer/src/FieldPlayer.hpp
  module/purpose/Support/CMakeLists.txt
  module/purpose/Support/README.md
  module/purpose/Support/data/config/Support.yaml
  module/purpose/Support/src/Support.cpp
  module/purpose/Support/src/Support.hpp
  module/strategy/FindObject/src/FindObject.cpp
  roles/robocup.role
  roles/webots/robocup.role
  shared/message/input/RoboCup.proto
  shared/message/strategy/FindBall.proto
  shared/utility/strategy/soccer_strategy.hpp
Labels: !!-Bug, G-Behaviour, L-C++, L-Protobuf

#1626 Ensure the FieldPlayer freezes when referee positioning for penalties
  module/purpose/FieldPlayer/src/FieldPlayer.cpp
Labels: !!-Bug, G-Behaviour, L-C++

#1630 Tuning for Sarah and Green Horizon
  module/actuation/KinematicsConfiguration/data/config/sarah/Offsets.yaml
  module/vision/GreenHorizonDetector/data/config/GreenHorizonDetector.yaml
  shared/utility/skill/scripts/sarah/StandUpFront.yaml
Labels: G-Vision, G-Hardware, Config

#1631 Fix bad conversion in getup from yaml
  module/skill/GetUp/data/config/webots/GetUp.yaml
  module/skill/GetUp/src/GetUp.cpp
  module/skill/GetUp/src/GetUp.hpp
Labels: !!-Bug, G-Motion, L-C++, Config
